ul{
    padding-left: 0;
}
li{
    display: inline-block;
    position: relative;
}

li>ul{
    display: none;
}
li>ul li{
    font-weight: bold;
}

li:hover>ul{
    display: block;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}